*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

html{
    background-color: #207934;
}

body{
    color: #FFFFFF;
}
p{
    opacity: 0.85;
    letter-spacing: 1px;
}
.hidden{
    visibility: hidden;
}
.notDisplaying {
    display: none;
}

.button{
    margin-top: 40px;
    display: inline-block;
    font-size: 16px;
    color: #1C7430;
    background: #ddeae0;
    border-radius: 4px;
    padding: 10px 20px;
    box-sizing: border-box;
}
.button:hover{
    background: white;
}
.page{
    margin-top: 10%;
    text-align: center;
}
.start-page p{
    font-size: 28px;
    line-height: 38px;
    text-transform: uppercase;
}
.end-page p{
    line-height: 35px;
    font-size: 24px;
}
.start-page img{
    margin-bottom: 20px;
}
.end-page img{
    margin-bottom: 9px;
}

table{
    max-width: 55%;
    margin: 54px auto;
}
tbody{
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
}
tr:first-child td{
    font-size: 16px;
    opacity: 0.8;
    letter-spacing: 0;
    font-weight: normal;
    padding-bottom: 25px;
}
tr:first-child td:last-child{
    text-align: right;
}
td{
    align-items: center;
    vertical-align: middle;
}

td div{
    margin-bottom: 25px;
    margin-right: 25px;
    border-radius: 8px;
    background: url("assets/cards/back.PNG") no-repeat;
    height: 0;
    width: 128px;
    opacity: 1;
    transition: 300ms ease;
    box-shadow: black 0 1px 5px;
    cursor: pointer;
}

td div img{
    display: block;
    opacity: 1;
    border-radius: 8px;
    height: 181px;
    width: 128px;
    box-shadow: black 0 1px 5px;
    transition: 250ms ease;
}
td:last-child div{
    margin-right: 0;
}


