* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
}

html {
    background-color: #207934;
}

body {
    color: #FFFFFF;
}

p {
    opacity: 0.85;
    letter-spacing: 1px;
}

tbody {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
}

.button {
    margin-top: 40px;
    display: inline-block;
    font-size: 16px;
    color: #1C7430;
    background: #ddeae0;
    border-radius: 4px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.button:hover {
    background: white;
}

.page {
    margin-top: 10%;
    text-align: center;
}

#startPage p {
    font-size: 28px;
    line-height: 38px;
    text-transform: uppercase;
}

#startPage img {
    margin-bottom: 20px;
}

#endPage p {
    line-height: 35px;
    font-size: 24px;
}

#endPage img {
    margin-bottom: 9px;
}

#gameTable {
    max-width: 55%;
    margin: 54px auto;
    opacity: 1;
    transition: opacity 500ms 500ms ease;
}

#gameTable .newGame {
    font-size: 16px;
    opacity: 0.8;
    letter-spacing: 0;
    font-weight: normal;
    cursor: pointer;
    transition: 250ms ease;
}

#gameTable .newGame:hover {
    opacity: 1;
    font-weight: bold;
    letter-spacing: 0.2px;
}

#scoreCol {
    text-align: right;
    opacity: 0.8;
    font-size: 16px;
    font-weight: normal;
}

#scoreCol .score {
    margin-left: 10px;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
}

#gameTable td div {
    margin-top: 25px;
    margin-right: 25px;
    border-radius: 8px;
    background: url("assets/cards/back.PNG") no-repeat;
    height: 181px;
    width: 128px;
    opacity: 1;
    transition: opacity 250ms 200ms ease, transform 300ms 300ms ease;
    box-shadow: black 0 1px 5px;
    cursor: pointer;
    transform: rotateY(-180deg);
}

#gameTable td div:hover {
    box-shadow: black 0 1px 25px;
}

#gameTable td:last-child div {
    margin-right: 0;
}

.card {
    display: block;
    opacity: 1;
    border-radius: 8px;
    height: 181px;
    width: 128px;
    box-shadow: black 0 1px 5px;
    transition: opacity 250ms 200ms ease, transform 300ms 300ms ease;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

#gameTable .hide {
    opacity: 0;
}

#gameTable .flipBack {
    transform: rotateY(0deg);
}

#gameTable .collapse {
    opacity: 0;
}

.noDisplaying {
    display: none;
}


